.choice-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  width: 1650px;
}

.choice-item {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  background: Antiquewhite;
  height: 200px;
  text-align: center;
  border: none;
  font-size: 60px;
}

.choice-item:hover {
  filter: brightness(50%);
}

.choice-item.hidden {
  display: none;
}
