/*
-------------------------------------------------------------------------------
Change radio button
-------------------------------------------------------------------------------
*/

.radioInput {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioInput input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.itemDescription1 > .radioInput input[type="radio"] {
  display: inline;
  visibility: hidden;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: none;
}

/* On mouse-over, add a grey background color */
.radioInput:hover input[type="radio"] ~ .checkmark,
.radioInput:hover {
  filter: brightness(110%);
}

/* When the radio button is checked, add a blue background */
.radioInput input[type="radio"]:checked ~ .checkmark {
  background-color: none;
}

.isChecked {
  filter: brightness(50%);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioInput input[type="radio"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioInput .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: none;
}

/*
-------------------------------------------------------------------------------
Grid alignment
-------------------------------------------------------------------------------
*/

#close-window {
  text-align: right;
  background: orange;
  color: white;
  grid-area: h;
}

#close-window-icon:hover {
  color: black;
}

h1 {
  text-align: center;
  background: orange;
  color: white;
  grid-area: a;
}
#close-window-icon {
  color: white;
  text-align: right;
}

.container {
  display: grid;
  grid:
    "a h"
    "g g"
    "b c"
    "d e"
    "f null";
  grid-template-columns: 50% 50%;
  grid-row-gap: 0;
  width: 2500px;
  height: 2500px;
  background: white;
}
.acheter {
  grid-area: b;
  background-color: #cecece;
}

.vendre {
  grid-area: c;
  background-color: #cecece;
}
.itemDescription1 {
  grid-area: d;
  height: 500px;
  overflow: scroll;
}

.itemDescription1::after {
}
.containerItem {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.containerItem:nth-child(even) {
  background-color: #f2f2f2;
}
.containerItem:nth-child(odd) {
  background-color: #cecece;
}

.itemDescription2 {
  grid-area: e;
  margin-left: 15px;
  width: 200px;
  word-wrap: break-word;
}

.acheterSpace {
  grid-area: f;
}
.infoGold {
  grid-area: g;
}

/*
-------------------------------------------------------------------------------
Image Icons
-------------------------------------------------------------------------------
*/

.logoItem > img {
  width: 64px;
  height: 64px;
}
.containerItem.active {
  border: solid black 10px;
}

.hide {
  display: none;
}

input[type="number"] {
  height: 200px;
  width: 90%;
  font-size: 83px;
}
/*
-------------------------------------------------------------------------------
Change arrow icons
-------------------------------------------------------------------------------
*/
.numberItemHide {
  position: absolute;
  left: 1069px;
  top: 10px;
  width: 135px;
  height: 150px;
  background: white;
}

.numberItemSpinner {
  background: white;
  border-radius: 25%;
  border: #cecece solid 3px;
  width: 100px;

  text-align: center;
}

.numberItemPlus,
.numberItemMinus {
  border: none;
  background: #cecece;
  border-radius: 50%;
  width: 65%;
  height: 30%;
}

.numberItemPlus:hover,
.numberItemMinus:hover {
  background: #4fb2ff;
}

/*
-------------------------------------------------------------------------------
Resize IG
-------------------------------------------------------------------------------
*/
* {
  font-size: 70px;
}

.acheter,
.vendre {
  height: 200px;
  font-size: 100px;
}
